<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<div layout:fragment="content">
<div>
    <table class="table">
        <thead>
        <tr>
            <th th:text="Id"></th>
            <th th:text="Login"></th>
            <th th:text="Email"></th>
            <th th:text="Birthday"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}">...</td>
                <td th:text="${user.login}">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.birthDate}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</div>
</body>
</html>