<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>

<div class="container">
    Register Page
    <form th:action="@{/login}" method="post" th:object="${createUserForm}">
        <label>Login</label>
        <input th:type="text" th:field="*{login}" />
        <div th:if="${#fields.hasErrors('userName')}" th:errors="*{login}">UserName Error</div>
        <br />

        <label>Password</label>
        <input th:type="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br />
        <label>Confirm password</label>
        <input th:type="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Confirm Password Error</div>
        <br />
        <label>Email</label>
        <input th:type="text" th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        <br />
        <label>Security Question</label>
        <input th:type="text" th:field="*{securityQuestion}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{securityQuestion}">Security Question Error</div>
        <br />
        <label>Security Answer</label>
        <input th:type="text" th:field="*{securityAnswer}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{securityAnswer}">Security Answer Error</div>
        <br />
        <button th:type="submit">Register</button>
    </form>
</div>

</body>
</html>