<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <h2>Register</h2>
        <div class="well-lg">
            <form th:action="@{/register}" method="post" th:object="${createUserForm}">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                    <input id="login" th:type="text" th:field="*{login}" class="form-control"
                           placeholder="Enter login"/>

                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <input id="password" th:type="password" th:field="*{password}" class="form-control"
                           placeholder="Enter password"/>

                </div>

                <div class="form-group">
                    <label for="cpassword">Repeat password:</label>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <input id="cpassword" th:type="password" th:field="*{confirmedPassword}" class="form-control"
                           placeholder="Confirm password"/>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <input id="email" th:type="text" th:field="*{email}" class="form-control"
                           placeholder="Email"/>
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday:</label>
                    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                    <input id="birthday" th:type="date" th:value="*{birthDate}" th:field="*{birthDate}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="securityquestion">Security question:</label>
                    <div th:if="${#fields.hasErrors('securityQuestion')}" th:errors="*{securityQuestion}"></div>
                    <input id="securityquestion" th:type="text" th:field="*{securityQuestion}" class="form-control"
                           placeholder="Enter question"/>
                </div>

                <div class="form-group">
                    <label for="securityanswer">Security answer:</label>
                    <div th:if="${#fields.hasErrors('securityAnswer')}" th:errors="*{securityAnswer}"></div>
                    <input id="securityanswer" th:type="text" th:field="*{securityAnswer}" class="form-control"
                           placeholder="Enter answer"/>
                </div>
                <button th:type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>