<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>

<div layout:fragment="content">
    <a th:href="@{/todo/add}" class="btn btn-info btn-group-justified" role="button" th:text="Add"></a>
    <table class="table">
        <thead>
        <tr>
            <th th:text="No."></th>
            <th th:text="Id"></th>
            <th th:text="Name"></th>
            <th th:text="Status"></th>
            <th th:text="Deadline"></th>
            <th th:text="Actions"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="todo : ${todos}">
            <tr th:style="${todo.isDone() == true ? 'background-color: green;' : 'background-color: white;'}">
                <td th:text="${todoStat.index+1}"></td>
                <td th:text="${todo.id}">...</td>
                <td th:text="${todo.name}">...</td>
                <td th:text="${todo.status}">...</td>
                <td th:text="${todo.deadline}">...</td>
                <td th:bgcolor="white">
                    <div class="form-inline">
                        <a th:href="@{'/todo/info/' + ${todo.id}}" class="btn btn-info form-control"
                           role="button">More Info</a>
                        <form th:action="@{'/todo/done/' + ${todo.id}}" method="post">
                            <button type="submit" class="btn btn-primary form-control" name="todoId"
                                    th:value="${todo.id}">Mark as done
                            </button>
                        </form>
                        <a th:href="@{'/todo/edit/' + ${todo.id}}" class="btn btn-info form-control"
                           role="button">Edit</a>
                    </div>

                </td>


            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>