<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>

<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th th:text="Id"></th>
            <th th:text="Name"></th>
            <th th:text="Status"></th>
            <th th:text="Deadline"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="todo : ${todos}">
            <tr>
                <td th:text="${todo.id}">...</td>
                <td th:text="${todo.name}">...</td>
                <td th:text="${todo.status}">...</td>
                <td th:text="${todo.deadline}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>